extends layout

block content
  h1 セトリシェア
  p セットリストをシェア

  .form-group
    label.form-label セットリストのXML(iTunes)
    .flex-container
      input.form-input(type='file')
      button.btn.btn-primary 送信
