doctype html
html
  head
    title セトリシェア
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://unpkg.com/spectre.css/dist/spectre.min.css')
  body
    .container
      block content
